.title {
  text-align: center;
  color:#ccc;
  font-family: monospace;
  font-size: 50pt;
}

.content {
  text-align: center;
  color:#ccc;
  font-family: monospace;
  font-size: 20pt;
}

body {
  margin:0px;
  padding:0px;
  font:11px/16px Arial, Helvetica, sans-serif;
  background:#0C0D0D url(../images/bd_bg1px.jpg) repeat-x;
}

.button {
  text-align:center;
}
